@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Metal+Mania&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruda:wght@400..900&display=swap");


@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/thumbs";
@import "swiper/css/navigation";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

:root {
  /* --text-primary: purple; */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: cursive !important; */
  /* font-family: inter, sans-serif !important; */
  /* font-family: montserrat, sans-serif !important; */
  /* font-family: "PPRadioGrotesk", Arial, sans-serif !important; */

  /* font-family: "Lexend Deca" !important; */
}

* {
  box-sizing: border-box !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Exo 2", sans-serif;
}

body,
p {
  font-family: "Lato", sans-serif;
}

/* body,
p {
  font-family: "Jost", sans-serif;
} */

.product-page-pagination .swiper-slide {
  width: auto !important;
}

.custom-gradient {
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.381) 0%,
      rgba(255, 255, 255, 0) 100%);
}

@layer {
  :root {
    /* Primary Color Palette */
    --color-primary: 59 130 246;
    /* blue-500 */
    --color-primary-dark: 29 78 216;
    /* blue-700 */

    /* Text Colors */
    --color-text-primary: var(--color-primary);
    --color-text-secondary: 75 85 99;
    /* gray-600 */
    --swiper-navigation-size: 16px !important;
    --swiper-theme-color: black !important;
  }

  .dark {
    /* Dark Mode Overrides */
    --color-primary: 96 165 250;
    /* blue-400 */
    --color-text-primary: var(--color-primary);
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded;
  }

  .bg-primary {
    background-color: #1d4ed8;
  }

  .text-primary {
    color: #1d4ed8;
  }
}

:root {
  --color-primary: #4f46e5;
  --color-base-dark: #1f2937;
  --color-base-light: #f9fafb;
  --color-muted: #6b7280;
  --bg-light: #f9fafb;
  --bg-dark: #1a202c;
}

.dark {
  --color-base-dark: #f9fafb;
  --color-base-light: #1f2937;
  --bg-light: #1a202c;
  --bg-dark: #f9fafb;
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

/* Utility classes */
.text-primary {
  color: #af601a;
  /* color: #10b981; */
}

.border-primary {
  border: 1px solid #af601a;
  /* color: #10b981; */
}

.bg-primary {
  background-color: #af601a;
  /* color: #10b981; */
}

.text-base-dark {
  color: var(--color-base-dark);
}

.text-base-light {
  color: var(--color-base-light);
}

.text-muted {
  color: var(--color-muted);
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-dark {
  background-color: var(--bg-dark);
}

.text-price {
  color: #e95144;
}

.swiper-button-next {
  background: white;
  /* padding: 6px !important; */
  border-radius: 50%;
  top: var(--swiper-navigation-top-offset, 36%) !important;
}

.swiper-button-next:after {
  background: white;
  padding: 6px 10px !important;
  border-radius: 50%;
}

.swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 36%) !important;
  background: white;
  padding: 6px 10px !important;
  border-radius: 50%;
}

.swiper-button-prev:after {
  background: white;
  padding: 6px 10px !important;
  border-radius: 50%;
}

.swiper-pagination {
  /* display: none; */
  position: absolute !important;
  bottom: 50px !important;
}

.related .swiper {
  padding-bottom: 90px !important;
}

.swiper-pagination-bullet {
  border: 2px solid black;
  background: white !important;
  padding: 5px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: black !important;
}

/* @media (min-width: 1024px) { */
/* .swiper-pagination {
    /* display: none; */
/* }  */
/* } */
@media (max-width: 1023px) {
  .swiper-button-next {
    /* display: none !important; */
  }

  .swiper-button-prev {
    /* display: none !important; */
  }
}

/* .cart-page, */
body {
  /* background: #d9d9d9 !important; */
}

/* .swiper-wrapper .swiper-slide.swiper-slide-active { */
/* display: contents !important; */
/* width: 500px !important; */
/* justify-content: center; */
/* flex-direction: column; */
/* } */
/* .swiper-wrapper {
  display: flex !important;
  justify-content: center !important;
  /* justify-content: center; */
/* flex-direction: column; */
/* } */
.swiper-pagination-bullet {
  @apply w-2 h-2 bg-gray-300 rounded-full opacity-100;
}

.swiper-pagination-bullet-active {
  @apply bg-pink-400;
}

#mobile-thumbnails .swiper-slide {
  /* width: auto !important; */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-gradient {
  background: linear-gradient(to right,
      rgb(23, 255, 209) 0%,
      rgb(248, 45, 255) 100%);
}

.hero-background {
  /* background: linear-gradient(to bottom, #d19195 0%, #f5d5d6 100%); */
  background: linear-gradient(to right,
      rgb(23, 255, 209) 0%,
      rgb(248, 45, 255) 100%);
}

.custom-background {
  background: linear-gradient(95deg, #681c1c 0%, #d19195 100%);
  /* background: linear-gradient(135deg, #d19195, #a34b96); */
  /* background: linear-gradient(
    135deg,
    rgb(23, 255, 209) 0%,
    rgb(248, 45, 255) 100%
  ); */
}

Link {
  cursor: pointer;
}

Button {
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

.primary-white {
  color: #fff;
}

.custom-gray {
  color: #55565b;
}

.primary-black {
  color: #000;
}

/* .secondary-white{
  color: #55565b;
} */

.product-page-custom-pagination .swiper-pagination-bullet {
  /* background: #000 !important; */
  opacity: 0.4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0.5);
  margin: 0px !important;
}

.product-page-custom-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1;
  transform: scale(0.5);
  margin: 0px !important;
}

#custom-product-details {
  scroll-margin-top: 160px;
}

#reviewsSlider {
  scroll-margin-top: 160px;
}